@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat:300,400,700,800|Open+Sans:300');
body{
    background-color: black ;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 320px;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.formula form{
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
}
.card__title{
    display: flex;
    align-items: center;
    padding: 5px 0px;}
    
    .card__title h3{
      flex: 0 1 200px;
      text-align: right;
      margin: 0;
      color: #252525;
      font-family: sans-serif;
      font-weight: 600;
      font-size: 20px;
      text-transform: uppercase;
    }
    
     .icon{
      flex: 1 0 10px;
      background: #115dd8;
      color: #fff;
      padding: 8px 10px;
      transition: 200ms;
    }
      .icon a{
        color: #fff;
      }
      
      .icon:hover{
        background: #252525;
      }
.formula form .separation{
    width: 100%;
    height: 1px;
    background-color: #747cdf;
}
.formula form .corps-formulaire{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.formula form .corps-formulaire .groupe{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.formula form .corps-formulaire .gauche .groupe input{
    margin-top: 5px;
    padding: 10px 5px 10px 5px;
    border: 1px solid #c9c9c9;
    outline-color: #747cdf;
    border-radius: 5px;
}
.formula form .corps-formulaire .droite{
    margin-left: 40px;
}
.formula form .corps-formulaire .droite .groupe{
    height: 100%;
}
.formula form .corps-formulaire .droite .groupe textarea{
    margin-top: 5px;
    padding: 10px;
    background-color: #f8f8f8;
    border: 2px solid #747cdf;
    outline: none;
    border-radius: 5px;
    resize: none;
    height: 72%;
}
.formula form .pied-formulaire button{
    margin-top: 10px;
    background-color: #747cdf;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
}
.formula form .pied-formulaire button:hover{
    transform: scale(1.05);
}












.icon_select_mate {
    position: absolute;
    top:12px;
    right: 2%;
    font-size: 16px;
      height: 22px;
    transition: all 275ms;
  }
  .select_mate {
    position: relative;
    top: 5px;
    display: inline;
    padding: 3px 10px 3px 10px;
    min-width: 300px;
    width: 300px;
    min-height: 25px;
    font-family: 'Roboto';
    color: #000000;
    font-weight: 300;
    background-color: #fff;
    border: 1px solid #c9c9c9;
    outline-color: #747cdf;
    border-radius: 5px;
    transition: all 375ms ease-in-out;}
  
  .select_mate select {
    position: absolute;
    overflow: hidden;
    height: 0px;
    opacity: 0;  
      z-index: -1;
    }

  
  .cont_list_select_mate {
    position: relative;
    float: left;
    width: 100%;
  }
  
  .cont_select_int {
   position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999;
    overflow: hidden;
    height: 0px;
    width: 100%;
    background-color: #fff;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: 0px 0px 3px 3px;
    box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
    transition: all 375ms ease-in-out;}
  
    .cont_select_int li {
      position: relative;
      float: left;
      width: 96%;
      border-bottom:1px solid #E0E0E0;
      background-color: #F5F5F5;
      list-style-type: none;
      padding: 10px 2%;
      margin: 0px;  
      transition: all 275ms ease-in-out;
      display: block;
      cursor:pointer;}
          
      .cont_select_int li:last-child {
          border-radius: 3px;
          border-bottom:0px; 
  
          }
          .cont_select_int li:hover {
          background-color: #EEEEEE;
           } 
       
  
           .cont_select_int li.active {
     background-color: #EEEEEE;
     }
  
  
  
 
  .selecionado_opcion {
      padding: 10px 4px;
      width: 96%;
      display: flex;
      margin: 0px;
      cursor: pointer;
  }










  .wrapper{
    width: 430px;
    padding: 0px 55px;
    background: #fff;
    border-radius: 5px;
  }
  .wrapper header{
      flex: 0 1 200px;
      margin-left: 150px;
      color: #252525;
      font-family: sans-serif;
      font-weight: 600;
      font-size: 20px;
      text-transform: uppercase;
  }
  
 .wrapper fieldset{
    height: 100px;
    margin: 10px 0;
    border: 2px dashed #6990f2;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
}
fieldset :where(i, p){
    color: #6990f2;
}
fieldset i{
    font-size: 30px;
}
fieldset p{
    font-size: 16px;
    margin-top: 15px;
}
section .row{
    background: #e9f0ff;
    margin-bottom: 10px;
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .row i{
    font-size: 20px;
    color: #6990f2;
}
section .details span{
    font-size: 14px;
}
.progress-area .row .content{
    width: 100%;
    margin-left: 15px;
}
.progress-area .details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 2px 10px;
}
.progress-area .progress-bar{
    height: 6px;
    width: 100%;
    background: #fff;
    margin-bottom: 4px;
    border-radius: 30px;
}
.progress-bar .progress{
    height: 100%;
    width: 0%;
    background: #6990f2;
    border-radius: inherit;
}
.uploaded-area{
    max-height: 150px;
    overflow-y: scroll;
}
.uploaded-area::-webkit-scrollbar{
    width: 0px;
}
.uploaded-area .row .details{
    display: flex;
    margin-left: 15px;
    flex-direction: column;
}
.uploaded-area .row .content{
    display: flex;
    align-items: center;
}
.uploaded-area .fa-check{
    color: #6990f2;
    font-size: 16px;
}
.uploaded-area .details .size{
    font-size: 11px;
    color: #404040;
}











@media screen and (max-width:920px){
    form .corps-formulaire .droite{
        margin-left: 0px;
    }
}